/**
 * Detalhe custom styles
 * User: yamilelias
 * Date: 15/09/17
 * Time: 11:30 AM
 */
/**
 * _config
 * User: yamilelias
 * Date: 15/09/17
 * Time: 11:30 AM
 */
@font-face {
  font-family: 'BebasKai-Regular';
  src: url("../../fonts/BebasKai-Regular.otf"); }
@font-face {
  font-family: 'BebasNeue-Bold';
  src: url("../../fonts/BebasNeue-Bold.ttf"); }
@font-face {
  font-family: 'BebasNeue-Light';
  src: url("../../fonts/BebasNeue-Light.ttf"); }
@font-face {
  font-family: 'BebasNeue-Regular';
  src: url("../../fonts/BebasNeue-Regular.ttf"); }
@font-face {
  font-family: 'BebasNeue-Book';
  src: url("../../fonts/BebasNeue-Book.ttf"); }
@font-face {
  font-family: 'BebasNeue-Thin';
  src: url("../../fonts/BebasNeue-Thin.ttf"); }
/**
 * mixins file
 * User: yamilelias
 * Author URI: <yamileliassoto@gmail.com>
 * Date: 3/11/17
 * Time: 11:28 AM
 */
/*
 * General
 */
body {
  font-family: "BebasNeue-Light";
  font-size: x-large; }
  body h2 {
    color: black; }

/*
 * Header
 */
#brand-logo {
  width: 80px;
  padding-top: .5em; }

.main-navigation {
  width: 50% !important; }
  .main-navigation .navbar-header {
    float: left;
    padding-right: 1em; }
  .main-navigation .main-menu li {
    margin-left: 1em; }

@media screen and (min-width: 1024px) {
  .main-navigation .navbar-toggler {
    display: none; }
  .main-navigation .main-menu {
    width: 700px; } }
.navigation-widgets {
  /*
   * Cart modifications
   */ }
  @media screen and (min-width: 700px) {
    .navigation-widgets .search-container {
      float: left;
      margin-left: 26%;
      padding-top: 1.6em; }
      .navigation-widgets .search-container .search-icon i {
        color: black; }
      .navigation-widgets .search-container .search-form {
        display: none;
        position: absolute;
        top: 100%;
        width: 66%;
        right: -23%; } }
  @media screen and (max-width: 700px) {
    .navigation-widgets .search-container {
      display: none; } }
  .navigation-widgets .site-search {
    float: left !important;
    padding-top: 1.2em; }
  .navigation-widgets .site-header-cart .cart-contents .count {
    padding-right: 10px; }

@media only screen and (min-width: 1100px) {
  .widget_product_search form input[type=search], .widget_product_search form input[type=text], .widget_search form input[type=search], .widget_search form input[type=text] {
    width: 30% !important; }

  .woocommerce-active .site-header .site-container {
    margin-left: 10%;
    float: left; }
  .woocommerce-active .site-header .site-header-cart {
    width: 20%;
    float: right;
    margin-right: .5em;
    margin-bottom: 0; }
  .woocommerce-active .site-header .cart-contents {
    padding: 1.618em 2em; } }
@media only screen and (max-width: 768px) {
  .woocommerce-active .site-header .site-header-cart {
    float: right;
    margin-right: -2.5em;
    margin-bottom: 0; }

  .main-navigation {
    margin-right: 0 !important; }
    .main-navigation a {
      padding: 0; } }
/**
 * Content and body
 */
.content-area {
  margin-bottom: 0; }
  .content-area .site-main {
    margin-top: 2em;
    margin-bottom: 0;
    /**
     * Product thumbnails.
     */ }
    .content-area .site-main .subcategories {
      margin-bottom: 1em;
      text-align: right; }
      .content-area .site-main .subcategories a :hover {
        text-decoration: none; }
      .content-area .site-main .subcategories .subcategory {
        background-color: black;
        color: white;
        font-weight: bold; }
    .content-area .site-main .product-description {
      padding-top: 1em; }
      .content-area .site-main .product-description .summary {
        text-align: center; }
        .content-area .site-main .product-description .summary td {
          width: 50%;
          margin: auto; }
          .content-area .site-main .product-description .summary td select {
            width: 100%;
            margin: 0 auto; }
        .content-area .site-main .product-description .summary .quantity {
          padding-left: 6em; }
    .content-area .site-main .single-product div .product {
      padding-top: 1em; }
    .content-area .site-main ul.products li.product h2 {
      color: black;
      font-size: 1em !important; }

/**
 * Brands Section
 */
.storefront-brands-section .no-padding-sides {
  padding-left: 0;
  padding-right: 0; }
  .storefront-brands-section .no-padding-sides .item {
    position: relative;
    overflow: hidden;
    display: block; }
    .storefront-brands-section .no-padding-sides .item .brand-link {
      display: block;
      position: relative;
      top: 0; }
      .storefront-brands-section .no-padding-sides .item .brand-link:hover p {
        opacity: 1; }
      .storefront-brands-section .no-padding-sides .item .brand-link p {
        color: white;
        font-family: "BebasNeue-Bold";
        font-size: 50px;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -100px;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .storefront-brands-section .no-padding-sides .item .brand-link img {
        position: relative;
        top: 0;
        max-width: 100%;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .storefront-brands-section .no-padding-sides .item .brand-link img:hover {
          -webkit-filter: blur(10px) grayscale(100%);
          -moz-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          transform: scale(1.1); }
      .storefront-brands-section .no-padding-sides .item .brand-link:hover img {
        max-width: 100%;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -webkit-filter: blur(10px) grayscale(100%);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }

@media screen and (max-width: 700px) {
  .storefront-brands-section .no-padding-sides .item .brand-link p {
    font-size: larger;
    top: 40%;
    left: 25%;
    margin: 0 0 0 0;
    opacity: 1; } }
.brand-page {
  padding-bottom: 3em; }
  .brand-page .show-brands {
    display: block;
    margin-left: 33%;
    width: 100%; }
    .brand-page .show-brands .item .brand-link {
      color: black;
      display: block;
      font-weight: bold;
      position: relative;
      text-align: center; }
      .brand-page .show-brands .item .brand-link:hover {
        text-decoration: none; }
      .brand-page .show-brands .item .brand-link img {
        position: relative;
        max-width: 100%; }

/*
 * Footer
 */
footer {
  font-size: large;
  padding-bottom: 0px !important; }
  footer .footer-widgets {
    padding-top: 0 !important; }
    footer .footer-widgets .widget {
      margin: 0 0 .706325903em !important; }
    footer .footer-widgets .social-media-widget i {
      padding-left: .5em;
      font-size: 40px; }
    footer .footer-widgets .information-widget {
      margin-top: 3em; }
      footer .footer-widgets .information-widget .terms {
        font-size: x-large;
        margin-bottom: 0px; }
      footer .footer-widgets .information-widget .copyright {
        font-size: medium; }
    footer .footer-widgets .operators-widget .operator {
      display: flex; }
      footer .footer-widgets .operators-widget .operator img {
        height: 25px;
        margin-left: .3em; }
    footer .footer-widgets .footer-form {
      float: right; }
      footer .footer-widgets .footer-form .input-name {
        width: 49%; }
      footer .footer-widgets .footer-form .input-email {
        float: right;
        width: 49%; }
      footer .footer-widgets .footer-form .input-message {
        color: black;
        margin-top: 3px; }
      footer .footer-widgets .footer-form button {
        color: black;
        float: right;
        margin-top: 10px; }

@media screen and (max-width: 700px) {
  .footer-widgets {
    text-align: center; }
    .footer-widgets .operator {
      margin-left: 10em; } }
@media screen and (max-width: 400px) {
  .footer-widgets .operator {
    margin-left: 3em; } }
/**
 * Landing
 */
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;
    /* 50% */ } }
#landing-image {
  position: relative; }
  #landing-image .inner-image {
    position: absolute;
    top: 50px;
    left: 30px;
    width: 100px; }

#landing-menu {
  font-family: "BebasKai-Regular";
  font-size: x-large;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 6; }
  #landing-menu .navbar-toggler {
    display: none; }
  #landing-menu .container .wrap {
    margin: 10px auto; }
    #landing-menu .container .wrap .landing-menu {
      margin: .7em auto; }
      #landing-menu .container .wrap .landing-menu li {
        padding: 1em 0; }
        #landing-menu .container .wrap .landing-menu li :hover {
          background-color: transparent !important;
          color: black; }
        #landing-menu .container .wrap .landing-menu li:focus {
          border: none; }
        #landing-menu .container .wrap .landing-menu li a {
          color: white; }
          #landing-menu .container .wrap .landing-menu li a:focus {
            border: none;
            background: transparent; }

@media screen and (max-width: 700px) {
  #landing-menu .navbar-toggler {
    display: block;
    margin-right: 1.5em;
    margin-top: 1.5em;
    float: right;
    background: none;
    border: 5px solid white;
    border-radius: 20px; }
    #landing-menu .navbar-toggler:active {
      border: 5px solid black; }
    #landing-menu .navbar-toggler i {
      color: white !important; }
  #landing-menu .navbar-brand {
    margin-left: .7em; }
  #landing-menu #menu-items {
    float: right; }
    #landing-menu #menu-items .landing-menu {
      text-align: right; }
      #landing-menu #menu-items .landing-menu li {
        padding: .5em 0; } }
/**
 * Contact modal
 */
.modal .modal-dialog {
  margin-top: 6.5em; }
  .modal .modal-dialog .modal-content {
    background: transparent;
    border: 2px solid white;
    color: white; }
    .modal .modal-dialog .modal-content .modal-header {
      padding: 5px 15px 0 15px; }
      .modal .modal-dialog .modal-content .modal-header a {
        color: white;
        float: right;
        font-size: larger;
        text-shadow: none; }
      .modal .modal-dialog .modal-content .modal-header h4 {
        font-size: larger;
        font-weight: bolder; }
    .modal .modal-dialog .modal-content .modal-body form {
      margin-bottom: 1.7em; }
      .modal .modal-dialog .modal-content .modal-body form .form-group {
        margin-bottom: 10px; }
        .modal .modal-dialog .modal-content .modal-body form .form-group .transparent {
          background: transparent;
          border: 1px solid white;
          color: white;
          font-size: large; }
      .modal .modal-dialog .modal-content .modal-body form .button {
        background: transparent;
        border: 1px solid white;
        color: white;
        float: right;
        font-size: large;
        margin-right: 8px;
        padding: 5px 15px 4px 15px; }
  @media screen and (max-width: 400px) {
    .modal .modal-dialog {
      margin-top: 8em; } }

/*# sourceMappingURL=detalhe.css.map */
