/**
 * Detalhe custom styles
 * User: yamilelias
 * Date: 15/09/17
 * Time: 11:30 AM
 */

@import "config";

/*
 * General
 */
body {
  font-family: $text-font;
  font-size: large;
}

/*
 * Header
 */
#brand-logo {
  width: 50px;
}

/*
 * Landing
 */
#landing-image {
  position: relative;

  .inner-image {
    position: absolute;
    top: 50px;
    left: 30px;
    width: 100px;
  }
}

/*
 * Footer
 */
#landing-menu{
  bottom: 0;
  font-family: $menu-font;
  font-size: xx-large;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 6;

  .wrap {
    margin: 10px auto;

    .landing-menu {
      margin: 0 auto;

      li {
        & :hover {
          background-color: transparent !important;
          color: black;
        }

        a {
          color: white;
        }
      }
    }
  }
}