/**
 * Detalhe custom styles
 * User: yamilelias
 * Date: 15/09/17
 * Time: 11:30 AM
 */

@import "config";
@import "mixins";

/*
 * General
 */
body {
  font-family: $text-font;
  font-size: x-large;

  h2 {
    color: black;
  }
}

/*
 * Header
 */
#brand-logo {
  width: 80px;
  padding-top: .5em;
}

.main-navigation {
  width: 50% !important;

  .navbar-header {
    float: left;
    padding-right: $menu-em;
  }

  .main-menu {

    li {
      margin-left: $menu-em;
    }
  }
}

@media screen and (min-width: 1024px){
  .main-navigation {
    .navbar-toggler {
      display: none;
    }

    .main-menu {
      width: 700px;
    }
  }
}

@media screen and (max-width: 700px) {
  .site-header {
    padding-bottom: 0;
  }
  .main-navigation {
    .navbar-header {
      float: inherit;
      padding-right: 0;
    }
  }
  #site-navigation {
    width: 100% !important;

    .navbar-toggler {
      display: block;
      margin-top: 1em;
      float: right;
      background: none;
      border: 3px solid black;
      border-radius: 20px;

      &:active {
        border: 5px solid black;
      }

      i {
        color: black !important;
      }
    }

    .navbar-brand {
      margin-left: .7em;
    }

    #menu-items {
      float: right;

      .main-menu {
        text-align: right;

        li {
          //padding: .5em 0;
        }
      }
    }
  }
}

@media screen and(max-width: 800px){
  .site-header {
    border-bottom-color: transparent;
  }

  .main-navigation {
    width: 100% !important;

    .navbar-header {
      .navbar-toggler {
        display: none;
      }
    }
  }

  .navigation-widgets {
    .search-container {
      float: left;
      margin-left: 1em;

      .search-icon {
        i {
          color: black;
        }
      }

      .search-form {
        form {
          margin-bottom: 0;
        }
      }
    }

    .site-header-cart {
      a {
        padding: 0;
      }
    }
  }
}

.navigation-widgets {
  @media screen and (min-width: 800px) {
    .search-container {
      float: left;
      margin-left: 26%;
      padding-top: 1.6em;

      .search-icon {
        i {
          color: black;
        }
      }

      .search-form {
        display: none;
        position: absolute;
        top: 100%;
        width: 66%;
        right: -23%;
      }
    }
  }

  @media screen and (max-width: 700px){
    .search-container {
      display: none;
    }
  }

  .site-search {
    float: left !important;
    padding-top: 1.2em;
  }

  /*
   * Cart modifications
   */
  .site-header-cart {
    .cart-contents {
      .count {
        padding-right: 10px;
      }
    }
  }
}

@media only screen and (min-width: 1100px){
  .widget_product_search form input[type=search], .widget_product_search form input[type=text], .widget_search form input[type=search], .widget_search form input[type=text] {
    width: 30% !important;
  }

  .woocommerce-active{
    .site-header {
      .site-container {
        margin-left: 10%;
        float: left;
      }

      .site-header-cart {
        width: 20%;
        float: right;
        margin-right: .5em;
        margin-bottom: 0;
      }

      .cart-contents {
        padding: 1.618em 2em;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce-active{
    .site-header {
      .site-header-cart {
        float: right;
        //margin-right: -2.5em;
        margin-bottom: 0;
      }
    }
  }

  .main-navigation {
    margin-right: 0 !important;

    a {
      padding: 0;
    }
  }
}

/**
 * Content and body
 */
.content-area {
  margin-bottom: 0;

  .site-main {
    margin-top: 2em;
    margin-bottom: 0;

    .subcategories {
      margin-bottom: 1em;
      text-align: right;

      a {
        & :hover {
          text-decoration: none;
        }
      }

      .subcategory {
        background-color: black;
        color: white;
        font-weight: bold;
      }
    }

    .product-description {
      padding-top: 1em;

      .summary {
        text-align: center;

        td {
          width: 50%;
          margin: auto;

          select {
            width: 100%;
            margin: 0 auto;
          }
        }

        .quantity {
          padding-left: 6em;
        }
      }
    }

    .single-product {
      div {
        .product {
          padding-top: 1em;

        }
      }
    }

    /**
     * Product thumbnails.
     */
    ul.products {
      li.product {
        h2 {
          color: black;
          font-size: 1em !important;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .content-area{
    .site-main{
      margin-top: 0;

      .subcategories {
        text-align: center;

        .subcategory {
          width: 150px;
          margin-top: 5px;
          padding: .6em 1em;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .content-area{
    .site-main{
      .product-description {
        .summary {
          .quantity {
            padding-left: 0;
          }
        }
      }
    }
  }
}

/**
 * Brands Section
 */
.storefront-brands-section {
  .no-padding-sides {
    padding-left: 0;
    padding-right: 0;

    .item {
      position: relative;
      overflow: hidden;
      display: block;

      .brand-link {
        display: block;
        position: relative;
        top: 0;

        &:hover {
          p {
            opacity: 1;
          }
        }

        p {
          color: white;
          font-family: $brand-font;
          font-size: 50px;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -50px;
          margin-left: -100px;
          @include transition-brands();
        }

        img {
          position: relative;
          top: 0;
          max-width: 100%;
          @include transition-brands();

          &:hover {
            // Blur image into black & white
            -webkit-filter: blur(10px) grayscale(100%);

            // Scale image
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
          }
        }

        &:hover {
          img {
            max-width: 100%;
            @include transition-brands();

            // Blur image into black & white
            -webkit-filter: blur(10px) grayscale(100%);

            // Scale image
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .storefront-brands-section {
    .container {
      margin-left: -1.4em;
      margin-right: -1.4em;
      padding-left: 0;
      padding-right: 0;
    }

    .no-padding-sides {
      .item {
        .brand-link {
          p {
            font-size: larger;
            top: 40%;
            left: 25%;
            margin: 0 0 0 0;
            opacity: 1;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .storefront-brands-section {
    .container {
      margin-left: -2.2em;
      margin-right: -1.4em;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.brand-page {
  padding-bottom: 3em;

  .show-brands {
    display: block;
    margin-left: 33%;
    width: 100%;

    .item {
      .brand-link {
        color: black;
        display: block;
        font-weight: bold;
        position: relative;
        text-align: center;

        &:hover {
          text-decoration: none;
        }

        img {
          position: relative;
          max-width: 100%;

          // TODO: Check them to be equal to the brands page
          //&:hover {
          //  max-width: 100%;
          //  @include transition-brands();
          //
          //  // Scale image
          //  -moz-transform: scale(1.1);
          //  -webkit-transform: scale(1.1);
          //  transform: scale(1.1);
          //}
        }
      }
    }
  }
}

@media screen and (max-width: 700px){
  #page {
    header {
      .col-full {
        //padding-bottom: 1em;
      }

      #header-image {
        //zoom: 20%;
        display: none;
      }
    }
  }

  #content {
    padding-top:1em;
  }

  .brand-page {
    .show-brands {
      margin-left: 0;
      padding-bottom: 10em;
    }
  }
}

@media screen and (min-width: 700px){
  #page {
    header {
      .col-full {
        padding-bottom: 1em;
      }

      #header-image {
        zoom: 40%;
      }
    }
  }

  .brand-page {
    .show-brands {
      margin-left: 0;
    }
  }
}

/*
 * Footer
 */
footer {
  font-size: large;
  padding-bottom: 0px !important;

  .footer-widgets {
    padding-top: 0 !important;

    .widget {
      margin: 0 0 .706325903em !important;
    }

    .social-media-widget {
      i {
        padding-left: .5em;
        font-size: 40px;
      }
    }

    .information-widget {
      margin-top: 3em;

      .terms {
        font-size: x-large;
        margin-bottom: 0px;
      }

      .copyright {
        font-size: medium;
      }
    }

    .operators-widget {
      .operator {
        display: flex;

        img {
          height: 25px;
          margin-left: .3em;
        }
      }
    }

    .footer-form {
      float: right;

      .input-name {
        width: $input-width;
      }

      .input-email {
        float: right;
        width: $input-width;
      }

      .input-message {
        color: black;
        margin-top: 3px;
      }

      button {
        color: black;
        float: right;
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .footer-widgets {
    text-align: center;

    .operator {
      margin-left: 10em;
    }
  }
}

@media screen and (max-width: 400px) {
  .footer-widgets {
    .operator {
      margin-left: 3em;
    }
  }
}

/**
 * Landing
 */

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

#landing-image {
  position: relative;

  .inner-image {
    position: absolute;
    top: 50px;
    left: 30px;
    width: 100px;
  }
}

#landing-menu {
  font-family: $menu-font;
  font-size: x-large;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 6;

  .navbar-toggler {
    display: none;
  }

  .container {
    .wrap {
      margin: 10px auto;

      .landing-menu {
        margin: .7em auto;

        li {
          padding: 1em 0;

          & :hover {
            background-color: transparent !important;
            color: black;
          }

          &:focus {
            border: none;
          }

          a {
            color: white;

            &:focus {
              border: none;
              background: transparent;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  #landing-menu {
    .navbar-toggler {
      display: block;
      margin-right: 1.5em;
      margin-top: 1.5em;
      float: right;
      background: none;
      border: 5px solid white;
      border-radius: 20px;

      &:active {
        border: 5px solid black;
      }

      i {
        color: white !important;
      }
    }

    .navbar-brand {
      margin-left: .7em;
    }

    #menu-items {
      float: right;

      .landing-menu {
        text-align: right;

        li {
          padding: .5em 0;
        }
      }
    }
  }
}

/**
 * Contact modal
 */
.modal {
  .modal-dialog {
    margin-top: 6.5em;

    .modal-content {
      @include transparent-border(2px);
      color: white;

      .modal-header {
        padding: 5px 15px 0 15px;

        a {
          color: white;
          float: right;
          font-size: larger;
          text-shadow: none;
        }

        h4 {
          font-size: larger;
          font-weight: bolder;
        }

      }

      .modal-body {
        form {
          margin-bottom: 1.7em;

          .form-group {
            margin-bottom: 10px;
            .transparent {
              @include transparent-border(1px);
              color: white;
              font-size: large;
            }
          }

          .button {
            @include transparent-border(1px);
            color: white;
            float: right;
            font-size: large;
            margin-right: 8px;
            padding: 5px 15px 4px 15px;
          }
        }
      }
    }

    @media screen and (max-width: 400px){
      margin-top: 8em;
    }
  }
}